* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  font-weight: bolder;
  border: none;
}

.backgound1 {
  background-color: #3b3c36;
}

a,
button {
  text-decoration: none;
}

.nav_bar_text {
  display: flex;
  justify-content: space-between;
  height: 0px;
}

.start {
  background-image: url(img/background8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #3b3c36;
  padding-bottom: fit-content;
}

.navbar__logo {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 40px 8%;
  z-index: 100;
}

.button_1 {
  padding: 43px 8%;
  z-index: 100;
}

button {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #3b3c36;
  border: none;
  border-radius: 100px;
}

.ted_img {
  width: 22.5%;
  z-index: 10;
  position: relative;
  top: 175px;
  left: 50px;
}

.moon_img {
  width: 20%;
  z-index: 10;
  position: relative;
  top: 145px;
  left: 50%;
}

.container {
  padding-top: 100px;
}

.imgtext {
  display: flex;
  padding-bottom: 50px;
}
.img1 {
  width: 50%;
  padding: 5%;
}

.img2 {
  width: 100%;
}

.text {
  color: rgb(255, 255, 255);
  padding-top: 200px;
  text-align: center;
}

.text_how {
  color: rgb(255, 255, 255);
  width: 50%;
  padding: 5%;
  text-align: left;
  overflow-wrap: break-word;
  align-self: center;
}

.paragraph1 {
  font-size: 2.5rem;
  padding-bottom: 25px;
  padding-top: 140px;
}

.paragraph2 {
  font-size: 1.5rem;
  padding-bottom: 0px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 1637px) {
  .start {
    background-size: auto;
  }
}

.how {
  padding-bottom: 40px;
  font-size: 3rem;
}

.step1 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.step11 {
  padding-bottom: 40px;
  font-size: 1.5rem;
}

.step2 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.step21 {
  padding-bottom: 40px;
  font-size: 1.5rem;
}

.step3 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.step31 {
  padding-bottom: 40px;
  font-size: 1.5rem;
}

.step4 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.step41 {
  padding-bottom: 40px;
  font-size: 1.5rem;
}

.address {
  padding-bottom: 0px;
  font-size: 1.5rem;
}

/* white line */
.white_line_div {
  background-color: #3b3c36;
  padding-bottom: 40px;
}
.white_line {
  background-color: #fff;
  height: 2px;
  margin: auto 10rem;
  border-radius: 100px;
}

/* main */
.main1 {
  background: #3b3c36;
  position: relative;
  padding-top: 60px;
}

.main_text {
  color: #fff;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 1.6rem;
  line-height: 40px;
}

/* footer */
footer {
  background-image: url(img/background_bottom2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #3b3c36;
  background-position: center bottom;
  color: #fff;
  position: relative;
  height: 500px;
  margin: 0;
}

@media screen and (max-width: 1637px) {
  .footer {
    background-size: auto;
  }
}

footer {
  padding: 30px 20px;
  margin: 0;
  box-sizing: border-box;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 300px;
}

.footer_content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer_content p {
  max-width: 500px;
  margin: 0;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 3rem;
  transition: color 0.4 ease;
}

.socials a:hover {
  color: rgb(183, 183, 183);
}

.footer_bottom {
  color: black;

  padding: 20px 0;
  text-align: center;
}
